body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}


.container {
	width: 80%;
  height: 70px;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* ner nav bar */
.container{
  width: 80%;
  margin: 0,auto;
}

.box{
    text-align: center;
    margin: auto;
    width: 30%;
    border: 3px solid rgb(7, 7, 7);
    padding: 10px;
    margin-top: 50px;
    border-radius: 20px;
  }


.myButton {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.container2{
  display: table;
  width: 100%;
}

.left-half {
  width: 50%;
  height: 100%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
}

/* table */
table, th, td {
  margin-top: 10px;
  margin-left: 230px;
  background-color: azure;
  text-align: center;
  border: 1px solid #222;
}
table{
  width: 20%;
  border-radius: 10px;
}

.box2{
  color: white;
  text-align: center;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  /* margin-top: 50px; */
  border-radius: 20px;
}